:root {
  // Background colors
  --bg-grey: #b0afafa8;
  --bg-red: #fad3d0;

  //---
  --bg-transparent: 'transparent';
  --bg-main: #ffffff;
  --bg-fill-button: #b0afaf5e;
  --bg-fill-button-hover: #b0afafa8;

  // Colors
  --color-primary: #d0e9e9;
  --color-medium-primary: #a6cbcb;
  --color-dark-primary: #33737373;
  --color-soft-primary: #e7f3f4;
  --color-vibrant-primary: #67b3b3;

  --color-red: #ff8077;

  //---
  --color-main: #000000;
  --color-submain: #00000085;
  --color-medium: #00000045;
  --color-soft: #0000000f;

  //Button colors
  --color-white: #ffffff;
  --color-default: #eae7e7;
  --color-warning: #fae9cd;
  --color-error: #fad3d0;
  --color-success: #d4ebdf;
  --color-main: #000000;

  --color-border-primary: #a6cbcb;
  --color-border-white: #00000085;
  --color-border-main: #ffffff;
  --color-border-default: #d9d9d9;
  --color-border-warning: #fdd595;
  --color-border-error: #ff8077;
  --color-border-success: #aad7bf;

  --color-strong-primary: #2a7ec0;
  --color-strong-white: #00000085;
  --color-strong-main: #00000085;
  --color-strong-default: #d9d9d9;
  --color-strong-warning: #ffd500;
  --color-strong-error: #ff0e00;
  --color-strong-success: #2ac055;

  // --color-error: red;

  // Sombras
  --shadow-base: 2px 1px 6px 0px #0000001f;
  --shadow-soft: 0 4px 4px 0 rgba(0, 0, 0, 0.25);


  //---

  --shadow-header: 0px 4px 8px #0000000f;
  --shadow-aside: 0px 54px 55px 0px rgba(0, 0, 0, 0.25), 0px -12px 30px 0px rgba(0, 0, 0, 0.12),
    0px 4px 6px 0px rgba(0, 0, 0, 0.12), 0px 12px 13px 0px rgba(0, 0, 0, 0.17),
    0px -3px 5px 0px rgba(0, 0, 0, 0.09);
  --shadow-section: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  --shadow-header-search-box: 0px 2px 0px #0000000f;
}

[data-theme='dark'] {
}
